.Card {
  position: relative;
  border: 1px solid #000;
  margin: 10px;
  padding: 15px;
  width: 320px;
}

.Card.checked {
  border: 2px solid red;
  margin: 9px;
  border-radius: 20px;
}

.Card hr {
  margin: 5px auto;
}
